<h1>Games</h1>

<ul>
  <li><a href="/games/new">New Game</a></li>
</ul>

<table border="1">
  
  <thead>
    <tr>
      <th>ID</th>
      <th>Rolls</th>
      <th>Score</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    
    <% @games.each do |game| %>
    <tr>
      <td><%= game.id %></td>
      <td><%= game.rolls %></td>
      <td><%= game.score %></td>
      <td><a href="/games/<%= game.id %>">Show</a></td>
      <td><a href="/games/<%= game.id %>/edit">Edit</a></td>
      <td>
        <form action="/games" method="post">
          <p>
            <input type="hidden" name="_method" value="delete" />
            <input type="hidden" name="id" value="<%= game.id %>" />
            <input type="submit" value="Delete" />
          </p>
        </form>
      </td>
    </tr>
    <% end %>

  </tbody>
  
</table>